.search-input {
  outline: none;
  border: none;
  display: inline-block;
}
li a:hover {
  color: #f6ae2d !important;
}

/* ----------theme btn---------- */

.btn-tsutsu {
  background-color: #ecebe9 !important;
  color: #4a4a4a !important;
}

.btn-tsutsu:hover {
  background-color: #4a4a4a !important;
  color: #ecebe9 !important;
}

.btn-tsutsu-click {
  background-color: #4a4a4a !important;
  color: #ecebe9 !important;
}
.btn-tsutsu-click:hover {
  background-color: #ecebe9 !important;
  color: #4a4a4a !important;
}

.btn-darkgrey {
  background-color: #4a4a4a !important;
  color: #ecebe9 !important;
}

.btn-orange {
  background-color: #f6ae2d !important;
  color: white !important;
}

.btn-lightgrey {
  background-color: #ecebe9 !important;
  color: #4a4a4a !important;
}

.btn-orange-click {
  background-color: #f6ae2d !important;
  color: white !important;
}

/* .btn-orange-click:hover {
  background-color: #ecebe9 !important;
  color: #4a4a4a !important;
} */

.btn-lightgrey-click {
  background-color: #ecebe9 !important;
  color: #4a4a4a !important;
}

/* .btn-lightgrey-click:hover {
  background-color: #f6ae2d !important;
  color: white !important;
} */

/* ----------theme pagination---------- */
.page-link {
  color: #4a4a4a !important ;
}

.page-item.active .page-link {
  background-color: #ecebe9 !important;
  border-color: #ecebe9 !important;
  color: #4a4a4a !important;
}

/* ----------theme card---------- */
.card-warning.card-outline {
  border-top: 5px solid #ee9b00 !important;
}
.card-outline-gray {
  border-top: 5px solid #9da6af !important;
}

/* callout */
.callout.callout-warning {
  border-left-color: #ee9b00 !important;
}

/* ----------theme nav---------- */
.nav-pills .nav-link:hover {
  color: #f6ae2d !important;
}
.nav-pills .nav-link.active {
  background-color: #f6ae2d !important;
  color: white !important;
}

/* theme text */
.text-orange {
  color: #f6ae2d !important;
}
.text-darkgrey {
  color: #4a4a4a !important;
}

.text-brown {
  color: #7f5539 !important;
}

.text-darkblue {
  color: #33658a !important;
}

.text-lightgray {
  color: #9da6af !important;
  padding-top: 1px;
}

/* img border */
.profile-user-img {
  border: 3px solid #f6b02d73 !important;
}

/* loading */
.spinner {
  width: 70px;
  text-align: center;
  position: fixed;
  top: 50vh;
  left: 50vw;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #f6b02d;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
