/* ---- tag list ---- */
#newTag {
  font-size: 1rem;
  color: #455a64;
  display: block;
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  border: 0.125rem solid #cfd8dc;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  transition: 0.5s all;
}
#newTag:focus,
#newTag:active {
  outline: none;
  border: 0.125rem solid #81c784;
  box-shadow: 0 0 0.5rem rgba(67, 160, 71, 0.15);
}
ul#tagList {
  display: block;
  padding: 0;
  margin: 0;
}
ul#tagList::after {
  content: "";
  clear: both;
  display: table;
}
ul#tagList li {
  position: relative;
  list-style: none;
  float: left;
  font-size: 0.835rem;
  text-transform: capitalize;
  background-color: #e8f5e9;
  line-height: 1rem;
  padding: 0.5rem 2rem 0.5rem 1rem;
  border-radius: 1rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  word-break: break-all;
}
ul#tagList li > span.rmTag {
  position: absolute;
  margin: 0.25rem;
  top: 0;
  right: 0;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1rem;
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-align: center;
  background-color: #c8e6c9;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
ul#tagList li > span.rmTag:hover {
  background-color: #ef9a9a;
}
